 <ion-view view-title="Adicione gastos">
    <ion-content ng-controller="InputCtrl">
      <ion-list>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Motivo do custo</span>
          <input type="text" ng-model="motivoCusto">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Valor</span>
          <input type="number" ng-model="valor">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Data</span>
          <input  onfocus="(this.type='date')" ng-model="data" type="{{type}}">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Descrição</span>
          <input type="text" ng-model="descricao">
        </label>
        <div class="col">
        <!--Botão para adicionar novo custo à lista de custos-->
        <button class="button button-block" id="addBtn" ng-click="addCost()">
          Adicionar custo
        </button>
        <!--Botão para limpar os campos do form-->
        <button class="button  button-block button-assertive" ng-click="clearFields()">
          Limpar campos
        </button>
      </div>
  
      </ion-list>
    </ion-content>
  </ion-view>
  